
/*----------STYLE GENERAL----------*/

body {
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* ----------HEADER---------- */

h1 {
    text-align: center;
}

p {
    flex: 1 0 200px;
    padding-left: 10px;
}

header {
    background: red;
    justify-content: center;
}

nav {
    text-align: center;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: stretch;

}

li {
    flex: 1;
    border: 2px solid white;

}

a {
    text-decoration: none;
    color: BLACK;
}

/* ----------SECTION---------- */
article {
    flex: 2;
    display: flex;
    justify-content: justify;
}

section {
    height: 660px;
    background: lightblue;
    display: flex;
    flex-wrap: wrap;
    flex: 3;
}

#jaune {
    padding-left: 10px;
    flex: 1;
    background: yellow;
}

#violet {
    padding-left: 10px;
    background: rgb(133, 4, 105);
    flex: 1;
}
/* ----------FOOTER---------- */
footer {
    background: green;
    text-align: center;
}
